@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="cool" class="display-4" onmouseover="newColor()" onmouseout="oldColor()">Hey want to rock out? Check out one of my favorite songs!</h1>
</div>

<body class="text-center">


    <iframe width="560" height="315" src="https://www.youtube.com/embed/5abamRO41fE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

   

</body>